/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center top;
    background-size: contain;
    color: black;
    min-height: 200vh;
}
html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/* Header Text */
header h1 {
    font-size: 3em;
    color: black;
    margin: 0;
}

/* Main Text (for subtitle below Welcome Header) */
.main-text {
    font-size: 1.2em;
    line-height: 1.5;
    color: black;
}

/* Welcome Box */
.welcome-box {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    border: 2px solid #000000; /* Black border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Internal spacing */
    position: absolute; /* Positioning for flexibility */
    top: 20px; /* Vertical positioning */
    left: 25%; /* Center horizontally */
    transform: translateX(-50%); /* Center align with transformation */
    text-align: center; /* Center the text */
    width: 50%; /* Width relative to screen */
    max-width: 800px; /* Limit the maximum width */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for aesthetics */
}

/* Circular Profile Photo */
.profile-photo {
    width: 250px;
    height: 270px;
    border-radius: 50%;
    border: 5px solid #000000;
    margin: 20px;
    position: absolute;
    top: 108px;
    right: 207px;
}

/* Dropdown Menus */
.grid-container {
    pos